body 
{
    background-color: black;
    color: white;
}


.bannerContainer {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto;
    padding: 5px;
}
.bannerItem {
    padding: 3px;
    font-size: 20px;
    text-align: center;
}
.gridContainer 
{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 5px;
}

.gridItem 
{
    padding: 5px;
    font-size: 20px;
    text-align: center;
}

